@import "../node_modules/mdbootstrap/css/mdb.css";

html,
body {
    background-color: #e7ebee;
}
body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.nav-menu {
    padding: 0;
    display: block;
    box-shadow: none;
}
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
}
.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #45505b;
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: #f2f3f5;
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.nav-menu a i,
.nav-menu a:focus i {
    font-size: 20px;
}
.nav-menu a span,
.nav-menu a:focus span {
    padding: 0 5px 0 7px;
    color: #45505b;
}
@media (min-width: 992px) {
    .nav-menu a,
    .nav-menu a:focus {
        width: 56px;
    }
    .nav-menu a span,
    .nav-menu a:focus span {
        display: none;
        color: #fff;
    }
}
.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
    color: #fff !important;
    background: #c3473c;
}
.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover > a span {
    color: #fff !important;
}
.nav-menu a:hover,
.nav-menu li:hover > a {
    width: 100%;
    color: #fff !important;
}
.nav-menu a:hover span,
.nav-menu li:hover > a span {
    display: block;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
}
@media (max-width: 992px) {
    #header {
        width: 300px;
        background: #fff;
        border-right: 1px solid #e6e9ec;
        left: -300px;
    }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    position: fixed;
    right: 10px;
    top: 25px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 28px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 0;
    cursor: pointer;
    border-radius: 50px;
    padding: 27px 18px;
  }
  .mobile-nav-toggle i {
    color: #45505b;
  }
  
  .mobile-nav-active {
      overflow: hidden;
  }
  .mobile-nav-active #header {
    left: 0;
  }
  .mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    background-color: #c3473c;
  }

section#main {
    position: relative;
    width: 100%;
    height: 70vh;
    background-color: #3b5998;
    background-image: url("./assets/background.webp");
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    .slide-right {
        animation: slideFromRight 1s forwards;
    }
    h1 {
        color: #fff;
        margin: 0;
        font-size: 64px;
        font-weight: 700;
        line-height: 56px;
        font-family: "Raleway", sans-serif;
    }
    span {
        color: #c3473c;
        letter-spacing: 1px;
        margin: 15px 0 0 0;
        font-size: 26px;
        font-family: "Poppins", sans-serif;
    }
    .socials {
        ul.social-network {
            list-style: none;
            display: inline;
            margin-left: 0 !important;
            padding: 0;
        }
        ul.social-network li {
            display: inline;
            margin: 0 5px;
        }
        .social-network a.icoLinked:hover {
            background-color: #2867b2;
        }
        .social-network a.icoFacebook:hover {
            background-color: #3b5998;
        }
        .social-network a.icoInstagram:hover {
            background-color: #e1306c;
        }
        .social-network a.icoGithub:hover {
            background-color: #6e5494;
        }
        .social-network a.icoLinked:hover i,
        .social-network a.icoFacebook:hover i,
        .social-network a.icoInstagram:hover i,
        .social-network a.icoTwitter:hover i ,
        .social-network a.icoGithub:hover i {
            color: #fff;
        }
        a.socialIcon:hover,
        .socialHoverClass {
            color: #44bcdd;
        }
        .social-circle li a {
            display: inline-block;
            position: relative;
            margin: 0 auto 0 auto;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            text-align: center;
            width: 50px;
            height: 50px;
            font-size: 20px;
        }
        .social-circle li i {
            margin: 0;
            line-height: 50px;
            text-align: center;
        }

        .social-circle li a:hover i,
        .triggeredHover {
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -ms--transform: rotate(360deg);
            transform: rotate(360deg);
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            -ms-transition: all 0.2s;
            transition: all 0.2s;
        }
        .social-circle i {
            color: #fff;
            -webkit-transition: all 0.8s;
            -moz-transition: all 0.8s;
            -o-transition: all 0.8s;
            -ms-transition: all 0.8s;
            transition: all 0.8s;
        }
    }
    #clouds {
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        display: block;
        width: 100%;
    }
}

.page-title {
    margin-bottom: 2.2rem;
    h1 {
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 10px 10px 0px rgb(0 0 0 / 15%);
    }
}

section#about {
    margin-bottom: 2rem;
    width: 100%;
    min-height: 60vh;
    .profil-img {
        width: 100%;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
        li {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            i {
                font-size: 16px;
                margin-right: 5px;
                color: #c3473c;
                line-height: 0;
            }
            b {
                margin-right: 10px;
            }
        }
    }
}
section#reference {
    width: 100%;
    min-height: 70vh;
    mdb-carousel-item {
        min-height: 45vh;
        img {
            margin-bottom: 1.2rem;
        }
    }
}

section#zaver {
    width: 100%;
    min-height: 20vh;
    h3 {
        font-family: "Poppins", sans-serif;
        font-size: 36px;
        font-weight: 700;
        padding: 0;
        margin: 0 0 15px 0;
    }
    p {
        font-size: 15px;
        font-style: italic;
        padding: 0;
        margin: 0 0 15px 0;
    }

    .socials {
        ul.social-network {
            list-style: none;
            display: inline;
            margin-left: 0 !important;
            padding: 0;
        }
        ul.social-network li {
            display: inline;
            margin: 0 5px;
        }
        .social-network {
            a.icoLinked:hover {
                background-color: #2867b2;
            }
            a.icoFacebook:hover {
                background-color: #3b5998;
            }
            a.icoInstagram:hover {
                background-color: #e1306c;
            }
            a.icoGithub:hover {
                background-color: #6e5494;
            }
            a.icoLinked:hover i,
            a.icoFacebook:hover i,
            a.icoInstagram:hover i,
            a.icoTwitter:hover i ,
            a.icoGithub:hover i {
                color: #fff;
            }
        }
        a.socialIcon:hover,
        .socialHoverClass {
            color: #44bcdd;
        }
        .social-circle li a {
            display: inline-block;
            position: relative;
            margin: 0 auto 0 auto;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            text-align: center;
            width: 50px;
            height: 50px;
            font-size: 20px;
        }
        .social-circle li i {
            margin: 0;
            line-height: 50px;
            text-align: center;
        }

        .social-circle li a:hover i,
        .triggeredHover {
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -ms--transform: rotate(360deg);
            transform: rotate(360deg);
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            -ms-transition: all 0.2s;
            transition: all 0.2s;
        }
        .social-circle i {
            color: var(--bs-body-color);
            -webkit-transition: all 0.8s;
            -moz-transition: all 0.8s;
            -o-transition: all 0.8s;
            -ms-transition: all 0.8s;
            transition: all 0.8s;
        }
    }
}

section#projekty {
    width: 100%;
    min-height: 20vh;

    .card {
        transition: all 0.3s ease;
    }
    .card:hover {
        transform: scale(1.05);
    }
}

section#jazyky {
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    padding-top: 1.5rem;
    img {
        transition: all 0.3s ease;
    }
    img:hover {
        transform: scale(1.2);
    }
    svg {
        transition: all 0.3s ease;
    }
    svg:hover {
        transform: scale(1.2);
    }
}

a {
    color: #c3473c;
}
a:hover {
    color: #cf6c63;
}

footer {
    background-color: #212121;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.sh {
    filter: drop-shadow(0px 0px 5px rgb(34, 34, 34));
}


@keyframes slideFromLeft {
    0% { left: -100%; }
    100% { left: 0; }
}
@keyframes slideFromRight {
    0% { right: -100%; }
    100% { right: 0; }
}
@keyframes slideFromBottom {
    0% { bottom: -100%; }
    100% { bottom: 0; }
}
@keyframes slideFromTop {
    0% { top: -100%; }
    100% { top: 0; }
}


.card {
    margin-bottom: 1.5rem;
    border-radius: 25px;
    .card-img-top {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
}
.rounded {
    border-radius: 25px !important;
}
img {
    max-width: 100%;
    height: auto;
}



/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #c3473c rgba(0,0,0,0);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
  }

  *::-webkit-scrollbar-thumb {
    background-color: #c3473c;
    border-radius: 10px;
    border: 3px solid transparent;
  }