<header id="header" class="d-flex flex-column justify-content-center slideFromLeft">

    <nav id="navbar" class="navbar nav-menu">
        <ul>
            <li><a [href]="" class="nav-link scrollto" [ngClass]="{'active': mLink === main || mLink === 'main'}" (click)="menu(main)" ><i class="fa fa-home"></i> <span>Domů</span></a></li>
            <li><a [href]="" class="nav-link scrollto" [ngClass]="{'active': mLink === about}" (click)="menu(about)" ><i class="fa fa-book"></i> <span>O mně</span></a></li>
            <li><a [href]="" class="nav-link scrollto" [ngClass]="{'active': mLink === projekty}" (click)="menu(projekty)" ><i class="fas fa-briefcase"></i> <span>Projekty</span></a></li>
            <li><a [href]="" class="nav-link scrollto" [ngClass]="{'active': mLink === reference}" (click)="menu(reference)" ><i class="fa fa-users"></i> <span>Reference</span></a></li>
        </ul>
    </nav>

</header>

<section class="d-flex flex-column justify-content-center items-align-center" #main id="main" (scroll)="scrollHandler($event)">
    <div class="container aos-init aos-animate slide-right">
        <div class="row justify-content-center items-align-center">
            <div class="col-md-10">
                <h1>Jakub Šarm</h1>
                <span [innerHTML]="citat"></span>
                <br><br>
                <div class="socials">
                    <ul class="social-network social-circle">
                        <li><a href="" target="_blank" class="icoInstagram" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="" target="_blank" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="" target="_blank" class="icoLinked" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <img src="../../assets/faded-clouds-bottom.svg" id="clouds" alt="">
</section>
<section class="d-flex flex-column justify-content-center" #about id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center page-title">
                <h1>O MNĚ</h1>
            </div>
        </div>
        <div class="row justify-content-center items-align-center">
            <div class="col-md-4">
                <img src="../../assets/me.webp" class="rounded profil-img" alt="">
            </div>
            <div class="col-md-8 aboutText">
                <h2>
                    Web developer.
                </h2>
                <p>
                    Jmenuji se Jakub Šarm a jsem programátor. Studuji obor Informační technologie.<br>
                    Zajímám se o internet a počítače, tvoření webových stránek, grafiku a všeobecně programování.<br>
                    Jsem počítačový nadšenec, uživatel Windowsu a Androidu, ale na Linux také nedám dopustit.<br>
                    Ovládám PHP, JavaScript, jQuery, a práci s MySQL databázemi.<br>
                    <br>
                    <em>
                        Nejradši pracuji na administračních systémech v jazyku PHP + JavaScript (jQuery).
                    </em>
                </p>
                <div class="row">
                    <div class="col-md-3">
                        <img src="../../assets/qrcode.webp" width="100%" alt="">
                    </div>
                    <div class="col-md-9">
                        <ul>
                            <li>
                                <i class="fa fa-chevron-right"></i><b>Telefon:</b> +420 775 567 240
                            </li>
                            <li>
                                <i class="fa fa-chevron-right"></i><b>E-Mail:</b> Sarm<i class="fa fa-at" style="margin-right: 0;"></i>jakubsarm.eu
                            </li>
                            <li>
                                <i class="fa fa-chevron-right"></i><b>Adresa:</b> Okrouhlá 35, 35002 Okrouhlá
                            </li>
                            <li>
                                <i class="fa fa-chevron-right"></i><b>IČO:</b> 10909001
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="d-flex flex-column justify-content-center" #projekty id="projekty">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center page-title">
                <h1>Projekty</h1>
            </div>
            <div class="col-md-4">
                <div class="card mb-3">
                    <img src="../../assets/projekty/gamerhost.pro.webp" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">GamerHost s.r.o.</h5>
                        <h6 class="card-subtitle mb-2 text-muted">PHP, TypeScript (Angular), MySQL, <small>HTML, SCSS, JS</small>, Bash</h6>
                        <p class="card-text">
                            Webová administrace pro nákup serverů a správu uživatelských účtů.
                            Ticket systém na webu, VIP Systém pro nákup VIP ranků na servery.
                            Seznam serverů s realtime refreshem dat.
                        </p>
                        <a href="https://gamerhost.pro/a/JakSar77" class="card-link">GamerHost.pro</a>
                        <a href="https://vip.gamerhost.pro" class="card-link">vip.GamerHost.pro</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3">
                    <img src="../../assets/projekty/d-maso.webp" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">D-Maso s.r.o.</h5>
                        <h6 class="card-subtitle mb-2 text-muted">HTML, CSS, JS</h6>
                        <p class="card-text">
                            Webová stránka s informacemi o společnosti a interaktivní mapou.
                        </p>
                        <a href="https://d-maso.cz/" class="card-link">D-Maso.cz</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3">
                    <img src="../../assets/projekty/playinright.cz.webp" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">PlayInRight.cz</h5>
                        <h6 class="card-subtitle mb-2 text-muted">PHP, TypeScript (Angular), MySQL</h6>
                        <p class="card-text">
                            Webová stránka s informacemi o minecraft serveru a vlastním banlist systémem. Web je zaměřený spíše na design.
                        </p>
                        <a href="https://www.playinright.cz/" class="card-link">PlayInRight.cz</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3">
                    <img src="../../assets/projekty/demo.webp" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">WP Hosting s.r.o.</h5>
                        <h6 class="card-subtitle mb-2 text-muted">PHP, JS, MySQL</h6>
                        <p class="card-text">
                            Administrace pro správu VPS serverů a domén. S podporou subuserů a plné automatizace.
                        </p>
                        <a href="https://www.wp-hosting.cz/administrace-serveru/" class="card-link">WP-Hosting.cz</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="card mb-3">
                    <img src="../../assets/projekty/mythia.webp" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">MythiaProject</h5>
                        <h6 class="card-subtitle mb-2 text-muted">PHP, CSS, JS, MySQL</h6>
                        <p class="card-text">
                            Webový template pro herní portál MythiaProject. Vlastní banlist, zobrazování VIP výhod, seznam serverů atd...
                        </p>
                        <a href="https://mythiaproject.eu/" class="card-link">MythiaProject.eu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="d-flex flex-column justify-content-center" #reference id="reference">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center page-title">
                <h1>Reference</h1>
            </div>
            <div class="col-md-12">
                <mdb-carousel [controls]="true" [indicators]="false" [dark]="true">
                    <mdb-carousel-item>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img src="../../assets/reference/mccitron.webp" class="rounded" width="128px">
                                    <h2>Austin "McCitron" Backo</h2>
                                    <small class="text-muted">YouTuber a Streamer</small>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                        Na Jakuba je vždy spoleh. Mně osobně pokaždé skvěle poradil ohledně hostingu, hardwaru i údržby PC,<br>
                                        přičemž nabídl vždy hned několik variant či postupů.<br>
                                        Orientuje se v mnoha oblastech a čemu nerozumí, to si vždy zjistí, aby našel nejlepší řešení problému.<br>
                                        A co je hlavní? Je schopen rychle a pohotově komunikovat.
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img src="../../assets/reference/kyvala.webp" class="rounded" width="128px">
                                    <h2>Petr Kývala</h2>
                                    <small class="text-muted">Freelancer - Linux administrátor</small>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                        S Kubou aktivně pracuji.
                                        Myslím si, že je to machr na všechny věci jako je<br>
                                        PHP, HTML, CSS a dokonce i v Angluaru.
                                        Spolupráce je oboustranná.
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img src="../../assets/reference/bara.webp" class="rounded" width="128px">
                                    <h2>Barbora S.</h2>
                                    <small class="text-muted">Zákaznice</small>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                        Jakub je neuvěřitelně nadaný člověk, obětavý workoholik, je s ním radost spolupracovat<br>
                                        a občas udělá cokoliv, aby dosáhl svého cíle. Moc dobře ví, co dělá a kdyby se náhodou<br>
                                        někde vyskytla chyba, opraví jí okamžitě. Zvládá dobře kritiku a je ochoten uznat,<br>
                                        že má někdo fajn nápad a zařídit se podle toho. U Kuby jste vždy v dobrých rukou.
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img src="../../assets/reference/kastrol.webp" class="rounded" width="128px">
                                    <h2>Matouš Marek</h2>
                                    <small class="text-muted">Zakladatel serveru - KastrolCraft.cz</small>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                        S Kubou spolupracuji již několik let. Své první projekty jsem začínal s ním a vždy mi pomohl s čím bylo potřeba.<br>
                                        Grafické práce zvládá na jedničku a tvorbu webů taktéž.
                                        Za ceny které má nabízí až nadstandardní služby.
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img src="../../assets/reference/dohnalek.webp" class="rounded" width="128px">
                                    <h2>Michal Dohnálek</h2>
                                    <small class="text-muted">Zákazník - D-Maso s.r.o.</small>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                        Jakub má pod palcem. Je to přímý chlapík který vám nenaúčtuje jen tak za něco.<br>
                                        Dodá vám skvělý přehled změn, cenu i nadstandartní výsledek.
                                        S jeho rychlou odezvou ke klientům je to vždy první volba.
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img src="../../assets/reference/ado.webp" class="rounded" width="128px">
                                    <h2>Adrián "Ado" Janočko</h2>
                                    <small class="text-muted">Java Developer - Customer Support</small>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                        Jakuba poznám z projektu GamerHost.pro, je to človek na veľmi profesionálnej úrovni.<br>
                                        Pre GamerHost.pro ako projekt naprogramoval dosť veľa vecí, ako napríklad VIP Systém, taktiež upravoval hlavnú stránku a<br>
                                        oveľa viac vecí, ktoré mi na prvý pohľad vyrazili dych, bol som šťastný, že niekoho takého môžeme mať v našom Tíme!<br>
                                        Taktiež s ním rád komunikujem a občas spolupracujem. Ak hľadáte odborníka na "webovky", jednoznačne je to tento človek.<br>
                                        Naskytne sa niekde nejaká chyba?! Jakub tú chybu vyrieši!
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                     </p>
                                </div>
                            </div>
                        </div>
                    </mdb-carousel-item>
                </mdb-carousel>
            </div>
        </div>
    </div>
</section>
<section class="d-flex flex-column justify-content-center" id="zaver">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center mb-3">
                <h3>Jakub Šarm</h3>
                <p>
                    Život by byl mnohem snazší, kdybychom k němu měli zdrojové kódy.
                </p>
                <div class="socials mb-3">
                    <ul class="social-network social-circle mb-3">
                        <li><a href="" target="_blank" class="icoInstagram" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="" target="_blank" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="" target="_blank" class="icoLinked" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                &copy; Copyright 2022 <a routerLink="/">JakubŠarm.eu</a> - Všechna práva vyhrazena. | Vytvořeno mnou s <i class="fa fa-heart text-danger"></i> a hromadou ☕.
            </div>
        </div>
    </div>
</footer>