<section class="d-flex flex-column justify-content-center" id="main">
    <div class="container aos-init aos-animate">
        <h1>Jakub Šarm</h1>
        <span [innerHTML]="citat"></span>
        <br><br>
        <div class="socials">
            <ul class="social-network social-circle">
                <li><a href="" target="_blank" class="icoInstagram" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                <li><a href="" target="_blank" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="" target="_blank" class="icoLinked" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
    <img src="../../assets/faded-clouds-bottom.svg" id="clouds" alt="">
</section>
<section class="d-flex flex-column justify-content-center" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center page-title">
                <h1>O MNĚ</h1>
            </div>
        </div>
        <div class="row justify-content-center items-align-center">
            <div class="col-md-4">
                <img src="../../assets/me.webp" class="rounded" width="100%" alt="">
            </div>
            <div class="col-md-8">
                <h2>
                    Web developer.
                </h2>
                <p>
                    Jmenuji se Jakub Šarm a jsem programátor. Studuji obor Informační technologie.<br>
                    Zajímám se o internet a počítače, tvoření webových stránek, grafiku a všeobecně programování.<br>
                    Jsem počítačový nadšenec, uživatel Windowsu a Androidu, ale na Linux také nedám dopustit.<br>
                    Ovládám PHP, JavaScript, jQuery, a práci s MySQL databázemi.<br>
                    <br>
                    <em>
                        Nejradši pracuji na administračních systémech v jazyku PHP + JavaScript (jQuery).
                    </em>
                </p>
                <div class="row">
                    <div class="col-md-3">
                        <img src="../../assets/qrcode.webp" width="100%" alt="">
                    </div>
                    <div class="col-md-9">
                        <ul>
                            <li>
                                <i class="fa fa-chevron-right"></i><b>Telefon:</b> +420 775 567 240
                            </li>
                            <li>
                                <i class="fa fa-chevron-right"></i><b>E-Mail:</b> Sarm<i class="fa fa-alt"></i>jakubsarm.eu
                            </li>
                            <li>
                                <i class="fa fa-chevron-right"></i><b>Adresa:</b> Okrouhlá 35, 35002 Okrouhlá
                            </li>
                            <li>
                                <i class="fa fa-chevron-right"></i><b>IČO:</b> 10909001
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="d-flex flex-column justify-content-center" id="projekty">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center page-title">
                <h1>Projekty</h1>
            </div>
            <div class="col-md-12">
                <div class="accordian">
                    <ul>
                        <li>
                            <div class="image_title">
                                <a href="#"><em>Připravuje se...</em></a>
                            </div>
                            <a href="#">
                                <img src="../../assets/projekty/demo.jpg"/>
                            </a>
                        </li>
                        <li>
                            <div class="image_title">
                                <a href="https://mythiaproject.eu/">Mythia Project</a>
                            </div>
                            <a href="https://mythiaproject.eu/">
                                <img src="../../assets/projekty/mythia.jpg"/>
                            </a>
                        </li>
                        <li>
                            <div class="image_title">
                                <a href="https://d-maso.cz/">D-Maso s.r.o.</a>
                            </div>
                            <a href="https://d-maso.cz/">
                                <img src="../../assets/projekty/d-maso.jpg"/>
                            </a>
                        </li>
                        <li>
                            <div class="image_title">
                                <a href="https://GamerHost.pro" target="_blank">GamerHost.pro</a>
                            </div> 
                            <a href="https://GamerHost.pro">
                                <img src="../../assets/projekty/gamerhost.pro.jpg"/>
                            </a>
                        </li>
                        <li>
                            <div class="image_title">
                                <a href="https://playinright.cz/">PlayInRight.cz</a>
                            </div>
                            <a href="https://playinright.cz/">
                                <img src="../../assets/projekty/playinright.cz.jpg"/>
                            </a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</section>
<section class="d-flex flex-column justify-content-center" id="reference">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center page-title">
                <h1>Reference</h1>
            </div>
            <div class="col-md-12">
                <mdb-carousel [controls]="true" [indicators]="false" [dark]="true">
                    <mdb-carousel-item>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img src="../../assets/reference/mccitron.webp" class="rounded" width="128px">
                                    <h2>Austin "McCitron" Backo</h2>
                                    <small class="text-muted">YouTuber a Streamer</small>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                        Na Jakuba je vždy spoleh. Mně osobně pokaždé skvěle poradil ohledně hostingu, hardwaru i údržby PC,<br>
                                        přičemž nabídl vždy hned několik variant či postupů.<br>
                                        Orientuje se v mnoha oblastech a čemu nerozumí, to si vždy zjistí, aby našel nejlepší řešení problému.<br>
                                        A co je hlavní? Je schopen rychle a pohotově komunikovat.
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img src="../../assets/reference/kyvala.webp" class="rounded" width="128px">
                                    <h2>Petr Kývala</h2>
                                    <small class="text-muted">Freelancer - Linux administrátor</small>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                        S Kubou aktivně pracuji.
                                        Myslím si, že je to machr na všechny věci jako je<br>
                                        PHP, HTML, CSS a dokonce i v Angluaru.
                                        Spolupráce je oboustranná.
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img src="../../assets/reference/bara.webp" class="rounded" width="128px">
                                    <h2>Barbora S.</h2>
                                    <small class="text-muted">Zákaznice</small>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                        Jakub je obětavý workoholik. Moc dobře ví, co dělá a kdyby se náhodou<br>
                                        někde vyskytla chyba, opraví jí okamžitě. Zvládá dobře kritiku a je ochoten uznat,<br>
                                        že má někdo fajn nápad a zařídit se podle toho.<br>
                                        U Kuby jste vždy v dobrých rukou.
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img src="../../assets/reference/kastrol.webp" class="rounded" width="128px">
                                    <h2>Matouš Marek</h2>
                                    <small class="text-muted">Zakladatel serveru - KastrolCraft.cz</small>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                        S Kubou spolupracuji již několik let. Své první projekty jsem začínal s ním a vždy mi pomohl s čím bylo potřeba.<br>
                                        Grafické práce zvládá na jedničku a tvorbu webů taktéž.
                                        Za ceny které má nabízí až nadstandardní služby.
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img src="../../assets/reference/dohnalek.webp" class="rounded" width="128px">
                                    <h2>Michal Dohnálek</h2>
                                    <small class="text-muted">Zákazník - D-Maso s.r.o.</small>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                        Jakub má pod palcem. Je to přímý chlapík který vám nenaúčtuje jen tak za něco.<br>
                                        Dodá vám skvělý přehled změn, cenu i nadstandartní výsledek.
                                        S jeho rychlou odezvou ke klientům je to vždy první volba.
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img src="../../assets/reference/ado.webp" class="rounded" width="128px">
                                    <h2>Adrián "Ado" Janočko</h2>
                                    <small class="text-muted">Java Developer - Customer Support</small>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                        Jakuba poznám z projektu GamerHost.pro, je to človek na veľmi profesionálnej úrovni.<br>
                                        Pre GamerHost.pro ako projekt naprogramoval dosť veľa vecí, ako napríklad VIP Systém, taktiež upravoval hlavnú stránku a<br>
                                        oveľa viac vecí, ktoré mi na prvý pohľad vyrazili dych, bol som šťastný, že niekoho takého môžeme mať v našom Tíme!<br>
                                        Taktiež s ním rád komunikujem a občas spolupracujem. Ak hľadáte odborníka na "webovky", jednoznačne je to tento človek.<br>
                                        Naskytne sa niekde nejaká chyba?! Jakub tú chybu vyrieši!
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                     </p>
                                </div>
                            </div>
                        </div>
                    </mdb-carousel-item>
                </mdb-carousel>
            </div>
        </div>
    </div>
</section>
<section class="d-flex flex-column justify-content-center" id="zaver">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center mb-3">
                <h3>Jakub Šarm</h3>
                <p>
                    Život by byl mnohem snazší, kdybychom k němu měli zdrojové kódy.
                </p>
                <div class="socials mb-3">
                    <ul class="social-network social-circle mb-3">
                        <li><a href="" target="_blank" class="icoInstagram" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="" target="_blank" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="" target="_blank" class="icoLinked" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                &copy; Copyright 2022 <a routerLink="/">JakubŠarm.eu</a> - Všechna práva vyhrazena. | Vytvořeno mnou s <i class="fa fa-heart text-danger"></i> a hromadou ☕.
            </div>
        </div>
    </div>
</footer>